<ion-header no-border>
  <div class="flex p-board flex-column">
    <div class="flex mb-16">
      <ion-button (click)="back()" fill="clear" slot="start">
        <ion-icon color="light" name="arrow-left"></ion-icon>
      </ion-button>
      <div class="w-100 ion-text-center">
        <ion-button color="light" (click)="back()" fill="clear">
          Profile
        </ion-button>
      </div>
      <!-- <ion-button (click)="presentModal('profile')" fill="clear" slot="end">
        <ion-icon color="light" name="edit-1"></ion-icon>
      </ion-button> -->
    </div>
    <div class="flex flex-column desc">
      <div class="flex desc">
        <ion-avatar slot="start">
          <img  src="assets/img/avatar.png" />
          <!-- <label for="profile-image" class="camera">
            <ion-icon name="camera"></ion-icon>
            <input
              (change)="onChange($event)"
              type="file"
              id="profile-image"
              hidden
            />
          </label> -->
        </ion-avatar>
        <div class="flex user-label flex-column">
          <ion-text class="pb-5">{{user?.Name}}</ion-text>
          <ion-text class="pb-5"><ion-text>{{user?.PhoneNumber}}</ion-text></ion-text>
          <ion-text class="pb-5">
            <ion-text>{{user?.Email}}</ion-text></ion-text
          >
        </div>
      </div>
    </div>
  </div>
  <!-- <ion-toolbar *ngIf="false" class="flex flex-column">
    <ion-title class="ion-text-center mb-8">Welcome to Toosie</ion-title>
    <ion-button class="login w-100 mt-8"  expand="block">Login</ion-button>
  </ion-toolbar> -->
</ion-header>
<ion-content>
  <ion-grid class=" ">
    <ion-list *ngFor="let p of items" class="border-b list-items">
      <ion-item
        class="item"
        [routerLink]="p.url"
        routerDirection="root"
        routerLinkActive="active-item"
      >
        <ion-icon [name]="p.icon"></ion-icon>
        <ion-label> {{ p.title }} </ion-label>
      </ion-item>
    </ion-list>
    <ion-list class="border-b list-items">
      <ion-item (click)="openModal()" class="item">
        <ion-icon name="key"></ion-icon>
        <ion-label> Change Password </ion-label>
      </ion-item>
      <!-- <ion-item (click)="presentModal('address')" class="item"  >
        <ion-icon name="planet-outline" ></ion-icon>
        <ion-label>
          Addresses
        </ion-label>
      </ion-item> -->
    </ion-list>
  </ion-grid>
</ion-content>
