img {
  max-width: 140px;
  border-radius: 50%;
}
ion-toolbar {
  --background: #2f4cb0;
  background: linear-gradient(
90deg, #2f4cb0 0%, #2f4cb0 88%, #455fbc 100%);
  --ion-color-base: transparent !important;
}
.p-board {
  background: #2f4cb0;
  background: linear-gradient(
90deg, #2f4cb0 0%, #2f4cb0 88%, #455fbc 100%);
  --ion-color-base: transparent !important;
  height: 170px;
}
.header-md::after {
   background: none !important;
}
.login{
   --background: #34C3EC
}
.primary-text{
 color: #2f4cb0;
}

.edit{
  background: rgb(75, 69, 69);
  color: #fff;
  border-radius: 8px;
}
.login{
--background: #2f4cb0;
}

.img-container{
  width: 150px;
  display: flex;
  justify-content: center;
}
.logo{
width: 100%;
align-self: center;
z-index: 10;
  margin-left: 35%;
}
.desc{
   padding-left: 10px;

}
ion-avatar{
   width: 80px;
   height: 80px;
   background: rgb(146, 141, 141);
   border-radius: 50%;
   border: 1px solid #fff;
   position: relative;

   .camera{
       width: 30px;
       height: 30px;
       border-radius: 50%;
       border-radius: 50%;
       position: absolute;
       bottom: 0px;
       text-align: center;
       display: flex;
       justify-content: center;
       align-items: center;
       right: -5px;
       background: #2f4cb0;
       overflow: hidden;
       box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px, rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px
   }
}
.user-label{
   padding-left: 19px;
}
.item ion-icon{
   padding-right: 20px;
}
