.track_drag {
    width: 98.5%;
    height: 70px;
    display: flex;
    align-items: center;
    position: absolute;
    overflow: hidden;
    border-radius: 7px;
    touch-action: none;
    background-color: rgb(66, 79, 227);
  }
  
  #item {
    width: 150px;
    height: calc(100% - 10px*2 - 2px);
    justify-self: flex-start;
    background-color: rgb(245, 230, 99);
    border: 10px solid rgba(136, 136, 136, .5);
    border-radius: 20px;
    touch-action: none;
    user-select: none;
    z-index: 999;
    margin: 11px 1px;
    background-size: 40% 40%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='284.936px' height='284.936px' viewBox='0 0 284.936 284.936' style='enable-background:new 0 0 284.936 284.936;' xml:space='preserve'%3E%3Clink xmlns='' type='text/css' id='dark-mode' rel='stylesheet' href=''/%3E%3Cstyle xmlns='' type='text/css' id='dark-mode-custom-style'/%3E%3Cg%3E%3Cg%3E%3Cpath d='M277.515,135.9L144.464,2.857C142.565,0.955,140.375,0,137.9,0c-2.472,0-4.659,0.955-6.562,2.857l-14.277,14.275 c-1.903,1.903-2.853,4.089-2.853,6.567c0,2.478,0.95,4.664,2.853,6.567l112.207,112.204L117.062,254.677 c-1.903,1.903-2.853,4.093-2.853,6.564c0,2.477,0.95,4.667,2.853,6.57l14.277,14.271c1.902,1.905,4.089,2.854,6.562,2.854 c2.478,0,4.665-0.951,6.563-2.854l133.051-133.044c1.902-1.902,2.851-4.093,2.851-6.567S279.417,137.807,277.515,135.9z'/%3E%3Cpath d='M170.732,142.471c0-2.474-0.947-4.665-2.857-6.571L34.833,2.857C32.931,0.955,30.741,0,28.267,0s-4.665,0.955-6.567,2.857 L7.426,17.133C5.52,19.036,4.57,21.222,4.57,23.7c0,2.478,0.95,4.664,2.856,6.567L119.63,142.471L7.426,254.677 c-1.906,1.903-2.856,4.093-2.856,6.564c0,2.477,0.95,4.667,2.856,6.57l14.273,14.271c1.903,1.905,4.093,2.854,6.567,2.854 s4.664-0.951,6.567-2.854l133.042-133.044C169.785,147.136,170.732,144.945,170.732,142.471z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E");
  }
  #item:active {
    background-color: rgba(245, 225, 50, 1.00);
    border-color: rgba(136, 136, 136, .5) !important; 
  }
  #item:hover {
    cursor: move;
    border-color: rgba(136, 136, 136, .25); 
  }
  
  .track_text {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    font-family: "Helvetica Neue", Helvetica, sans; 
    font-size: 24px; 
    color: white;
  }
  .track_text--before { opacity: 1; }
  .track_text--after { opacity: 0; }
  .track_text--end { opacity: 0; }
  
  .animate {
    transition: 
      transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275),
      opacity 0.5s ease-in,
      background-color 0.5s ease-in;
  }
  