<ion-item class="form-group w-100" [formGroup]="formGroup">
  <ion-label
    class="mb-8 input-label"
    position="stacked"
    [ngClass]="config?.inputLabel?.classes"
    [color]="config?.inputLabel?.color"
    >{{ config?.inputLabel?.text }}</ion-label
  >
  <div class="select-wrapper w-100">
    <ion-select
      appCustomSelect
      #selectEl
      interface="alert"
      okText="Selectează"
      cancelText="Renunță"
      [compareWith]="compareWithFn"
      formControlName="select"
      [multiple]="config?.multiple"
      [disabled]="config?.disabled"
      class="mw-100 w-100"
      [interfaceOptions]="config?.alertOptions"
      [placeholder]="config?.placeholder"
      (ionChange)="selectChange()"
    >
      <ion-select-option *ngFor="let item of items | async" [value]="item.id"
        >{{ item.label }}
      </ion-select-option>
    </ion-select>
    <ion-icon
      name="sm-chevron-down-t"
      color="omn-medium"
      class="icon-20 mr-8 custom-select-icon"
    ></ion-icon>
  </div>
</ion-item>
