.badge-one {
    position: absolute;
    top: 0px;
    right: -5px;
    font-size: 0.6em;
    width: 17px;
    height: 17px;
    padding-top: 3px;
    padding-left: 6px;
    z-index: 1;
    --background: #0281B2;
    border-radius: 50%;
  }

  ion-toolbar {
    --border-style: none;
  }
