<form (ngSubmit)="updateUser()" [formGroup]="userForm" class="form-container">
  <ion-header>
    <ion-toolbar>
      <ion-label class="ion-text-center">Edit Profile</ion-label>
      <ion-buttons slot="end">
        <ion-button color="dark" (click)="close()">Close</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-item>
    <ion-label position="floating">Full Name</ion-label>
    <ion-input
      type="text"
      formControlName="fullName"
      [disabled]="true"
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input
      type="text"
      formControlName="email"
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">NIN</ion-label>
    <ion-input
      type="text"
      formControlName="nin"
      [disabled]="true"
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Phone</ion-label>
    <ion-input
      type="text"
      formControlName="phone"
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">State</ion-label>
    <ion-input
      type="text"
      formControlName="state"
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Local Government</ion-label>
    <ion-input
      type="text"
      formControlName="lga"
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Address</ion-label>
    <ion-input
      type="text"
      formControlName="address"
    ></ion-input>
  </ion-item>

  <div class="ion-padding">
    <ion-button
      expand="block"
      class="login mt-16"
      type="submit"
      [disabled]="!userForm.valid"
      >Submit</ion-button
    >
  </div>
</form>
