<app-header [showBack]="true" [title]="title"></app-header>

<ion-content>
  <form *ngIf="step === 'one'" class="mt-64 mx-8" [formGroup]="egsFormOne" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Service</ion-label>
      <ion-input type="text" formControlName="services"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Category</ion-label>
      <ion-select mode="ios" interface="action-sheet"  formControlName="subCategories" placeholder="Select Category">
        <ion-select-option *ngFor="let i of subCategoriesOptions" [value]="i.Id">{{i.Name | titlecase}}
        </ion-select-option>

      </ion-select>
    </ion-item>
    <div *ngIf="(subCategories.dirty || subCategories.touched) && subCategories.errors" class="errors">
      <span *ngIf="subCategories.errors?.required">Categories is required</span>
    </div>
    <ion-item *ngIf="showSubSub">
      <ion-label position="floating">Sub-Category</ion-label>
      <ion-select mode="ios" interface="action-sheet"  formControlName="subSubCategories" placeholder="Select Sub-Category">
        <ion-select-option *ngFor="let i of subSubCategoriesOption" [value]="i.Id">{{i.Name | titlecase}}
        </ion-select-option>

      </ion-select>
    </ion-item>
    <div *ngIf="(subSubCategories.dirty || subSubCategories.touched) && subSubCategories.errors" class="errors">
      <span *ngIf="subSubCategories.errors?.required">Vehicle color is required</span>

    </div>




    <ion-button class="mx-10 mt-30" expand="full" type="submit" [disabled]="egsFormOne.invalid">Proceed</ion-button>
  </form>
  <app-egs-form [user]="user" [formData]="formData" (emitForm)="submitForm($event)" *ngIf="step === 'two'">
  </app-egs-form>

  <form *ngIf="step === 'three'" class="mt-64 mx-8" [formGroup]="egsFormThree" (ngSubmit)="finalSubmit()">
    <ion-item>
      <ion-label position="floating">Number of Officers Required*</ion-label>
      <ion-input type="number" formControlName="NumberOfOfficers"></ion-input>
    </ion-item>
    <ion-note  class="pl-18 mb-20" slot="helper">Specify the number of officers required.</ion-note>

    <div *ngIf="(NumberOfOfficers.dirty || NumberOfOfficers.touched) && NumberOfOfficers.errors" class="errors">
      <span *ngIf="NumberOfOfficers.errors?.required">Input the number of officers to proceed</span>
    </div>

    <ion-row class="my-15 mx-16">
      <ion-col>

        <ion-button class="" expand="block" fill="outline" >Click to get an estimate</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>

        <ion-button (click)="step = 'two'" class="mx-10 mt-10" expand="block">Back</ion-button>
      </ion-col>
      <ion-col>

        <ion-button class="mx-10 mt-10" expand="block" type="submit" [disabled]="egsFormThree.invalid">Proceed</ion-button>
      </ion-col>
    </ion-row>

  </form>
</ion-content>
