.info{
    position: absolute;
    left: 6%;
    background-image: linear-gradient(to right, #71d3b6 , #eccd8f);
    width: 100%;
    border-radius: 8px;
    margin-top: 16px;
    padding: 12px;
}
