<app-header [showBack]="true" title="Request"></app-header>
<ion-content *ngIf="request" >
  <div [ngClass]="request.ServiceVM.ApprovalNumber ? 'approved' : ''">
   <app-request-details-reusable [request]="request" [statusLog]="statusLog"></app-request-details-reusable>
   <ion-fab  *ngIf="request.ApprovalNumber" slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button *ngIf="serviceName.includes('extract')" (click)="downloadFile('Extract/'+ request.FileRefNumber , 'extract')">
      <ion-icon name="download-cloud"></ion-icon>
    </ion-fab-button>
    <ion-fab-button *ngIf="serviceName.includes('character')" (click)="downloadFile('CharacterCertificate/'+ request.FileRefNumber , 'extract')">
      <ion-icon name="download-cloud"></ion-icon>
    </ion-fab-button>
    
  </ion-fab>
  </div>
</ion-content>
