<app-header [showBack]="true" title="Search"></app-header>
<ion-content>
  <div *ngIf="hasData; else empty">
    <ion-item lines="none">
      <ion-avatar slot="start">
        <img
          alt="Silhouette of a person's head"
          src="https://ionicframework.com/docs/demos/api/avatar/avatar.svg"
        />
      </ion-avatar>
      <ion-label slot="end">
        {{ request?.service?.name }}
      </ion-label>
    </ion-item>
    <ion-row class="info">
      <ion-item lines="none">
        <ion-icon name="time-outline"></ion-icon>
        <ion-label class="ml-5">Created: 26/09/2022</ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-icon name="location-outline"></ion-icon>
        <ion-label class="ml-5">Processesor: NPF-{{request.processor}}</ion-label>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-item class="mt-16" lines="none" text-wrap>
        <h2>{{ request?.service?.name }}</h2>
      </ion-item>
      <ion-item lines="none" text-wrap>
        <ion-label class="ion-text-wrap notice"
          >The Nigeria Police Force reserves the right to approve or deny your
          request based on its guidelines or availability of resources.</ion-label
        >
      </ion-item>
    </ion-row>
    <ion-list>
      <ion-item lines="none">
        <H6 class="h2C"> Owner </H6>
      </ion-item>
      <ion-item lines="none">
        <ion-avatar>
          <img
            alt="Silhouette of a person's head"
            src="https://ionicframework.com/docs/demos/api/avatar/avatar.svg"
          />
        </ion-avatar>
      </ion-item>
      <ion-item lines="none">
        <ion-label class="notice">
          {{ request?.owner?.fullName }} &nbsp; | &nbsp; {{ request?.owner?.phone }}
        </ion-label>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item lines="none">
        <H6 class="h2C"> Request Approvers </H6>
      </ion-item>
      <ion-item lines="none">
        <ion-avatar class="mr-12" *ngFor="let i of approvers">
          <img
            alt="Silhouette of a person's head"
            src="https://ionicframework.com/docs/demos/api/avatar/avatar.svg"
          />
        </ion-avatar>
      </ion-item>
    </ion-list>
    <ion-list class="mt-16">
      <ion-item lines="none">
        <H6 class="h2C"> Approval Proccess </H6>
      </ion-item>
    </ion-list>
  
    <ion-list>
      <ion-radio-group value="second">
        <div class="container">
          <!-- completed -->
          <div [ngClass]="
              item.id === request.approvalLevel ? 'step active completed' : 'step'
            " *ngFor="let item of request?.service?.workFlow[0]?.WorkFlowApprovalLevel; let i = index">
            <div class="v-stepper">
              <div class="circle"></div>
              <div class="line"></div>
            </div>
  
            <div class="content">
              <ion-label class="d-block" [color]="request.approvalLevel === item.id ? 'primary' : 'dark'">{{ item.name }}</ion-label>
              <ion-radio slot="end" value="first"></ion-radio>
            </div>
          </div>
        </div>
      </ion-radio-group>
    </ion-list>
  </div>
  <ng-template #empty>
    <div class="empty-content">
      <div class="icon-box">
        <ion-icon name="alert-outline"></ion-icon>
      </div>
      <div class="message">
        <h5>This Request does not Exist</h5>
      </div>
      <button (click)="backToHome()">Back to home</button>
    </div>
  </ng-template>
</ion-content>
