ion-label {
    font-size: 15px !important;
    // font-weight: 600;
  }

  .file{
    // margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 60px;
    border: 1.5px solid #000;
    border-radius: 8px;

    ion-icon{
      color: gray;
    }

  }
  img{
    width: 150px;
    height: 60px;
  }

  .file-label{
    margin-top: 8px;
    display: inline-block;
    width: fit-content;
  }
  ion-input {
    --placeholder-font-style: 12px
  }
  input::focus {
    font-size: 17px;
  }

  .select-modal {
    --height: 50%;
    height: 50%;
    --width: fit-content;
    --min-width: 250px;
    --border-radius: 16px;
    --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
  }
  ion-modal {
    --height: 50% !important;
    --width: fit-content;
    --min-width: 250px !important;
    --border-radius: 16px;
    --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  }
  
  ion-modal::part(backdrop) {
    background: rgba(209, 213, 219);
    opacity: 1;
  }
  
  ion-modal ion-toolbar {
    --background: rgb(14 116 144);
    --color: white;
  }
