<app-header [showBack]="true" [title]="title"></app-header>
<ion-content>
  <form *ngIf="showForm" [formGroup]="cmrForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Vehicle Make</ion-label>
      <ion-select formControlName="vehMake" aria-label="vehMake" placeholder="Select Make">
        <ion-select-option *ngFor="let i of carMake" [value]="i.MakeName">{{i.MakeName}}</ion-select-option>
      </ion-select>
      <!-- <ion-input type="vehMake" formControlName="vehMake"></ion-input> -->
    </ion-item>
    <div *ngIf="(vehMake.dirty || vehMake.touched) && vehMake.errors" class="errors">
      <span *ngIf="vehMake.errors?.required">Vehicle Make is required</span>

    </div>
    <ion-item>
      <ion-label position="floating">Year</ion-label>

      <ion-select formControlName="year" aria-label="year" interface="action-sheet" placeholder="Select year">
        <ion-select-option *ngFor="let i of yearList" [value]="i">{{i}}</ion-select-option>
      </ion-select>

      <!-- <ion-input type="number" min="1900" max="2099" step="1" formControlName="year"></ion-input> -->
    </ion-item>
    <div *ngIf="(year.dirty || year.touched) && year.errors" class="errors">
      <span *ngIf="year.errors?.required">Year is required</span>
    </div>
    <ion-item *ngIf="year.value !== ''">
      <ion-label position="floating">Model</ion-label>
      <ion-select formControlName="model" aria-label="model" placeholder="Select Model">
        <ion-select-option *ngFor="let i of carModels" [value]="i.Model_Name">{{i.Model_Name}}</ion-select-option>
      </ion-select>
      <!-- <ion-input type="text" formControlName="model"></ion-input> -->
    </ion-item>
    <div *ngIf="(model.dirty || model.touched) && model.errors" class="errors">
      <span *ngIf="model.errors?.required">Model is required</span>
    </div>
    <ion-item>
      <ion-label position="floating">Vehicle color</ion-label>
      <ion-input type="vehColor" formControlName="vehColor"></ion-input>
    </ion-item>
    <div *ngIf="(vehColor.dirty || vehColor.touched) && vehColor.errors" class="errors">
      <span *ngIf="vehColor.errors?.required">Vehicle color is required</span>

    </div>

    <div lines="none" class="pl-16 pt-12  mb-0">
      <ion-label position="floating">Proof of Registration</ion-label>
      <div (click)="selectImageSource('regProof')" class="flex flex-column my-8">

        <div class="file">

          <ion-icon *ngIf="!regProofFile" name="camera"></ion-icon>
          <img *ngIf="regProofFile" [src]="regProofFile" alt="">
        </div>
      </div>
      <!-- <ion-input type="regProof" formControlName="regProof"></ion-input> -->
    </div>
    <div *ngIf="(regProof.dirty || regProof.touched) && regProof.errors" class="errors">
      <span *ngIf="regProof.errors?.required">Proof of Registration is required</span>

    </div>
    <div lines="none" class="mb-0 pl-16 pt-12">
      <ion-label position="floating">Registration Papers</ion-label>
      <div (click)="selectImageSource('regPapers')" class="flex flex-column my-8">

        <div class="file">

          <ion-icon *ngIf="!regPaperFile" name="camera"></ion-icon>
          <img *ngIf="regPaperFile" [src]="regProofFile" alt="">
        </div>
      </div>
      <!-- <ion-input type="regPapers" formControlName="regPapers"></ion-input> -->
    </div>
    <div *ngIf="(regPapers.dirty || regPapers.touched) && regPapers.errors" class="errors">
      <span *ngIf="regPapers.errors?.required">Registration Papers is required</span>
    </div>


    <ion-button class="mx-10 mt-10" expand="full" type="submit" [disabled]="cmrForm.invalid">Submit</ion-button>
  </form>

  <app-form-preview [invoiceDetails]="invoiceDetails" [serviceName]="serviceName" [data]="formData" [owner]="owner"
    [service]="serviceId" *ngIf="!showForm"></app-form-preview>
</ion-content>
