<form (ngSubmit)="login()" [formGroup]="residentForm" class="form-container">
  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input type="email" formControlName="Email"></ion-input>
  </ion-item>
  <div *ngIf="(Email.dirty || Email.touched) && Email.errors" class="errors">
    <span *ngIf="Email.errors?.required">Email is required</span>
    <span *ngIf="Email.errors?.Email">Email is invalid</span>
  </div>
  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input
      [type]="hide ? 'password' : 'text'"
      formControlName="Password"
    ></ion-input>
    <ion-icon
      class="mt-32"
      (click)="hide = !hide"
      size="small"
      name="eye"
      slot="end"
    ></ion-icon>
  </ion-item>
  <div class="flex ion-justify-content-between sign-up">
    <ion-button class="color-tertiary-grey" fill="clear">
      <span>Forgot Password?</span>
    </ion-button>
    <ion-button
      color="dark"
      fill="clear"
      (click)="presentAlert()"
      routerDirection="forward"
      >Reset</ion-button
    >
  </div>

  <div
    *ngIf="(Password.dirty || Password.touched) && Password.errors"
    class="errors"
  >
    <span *ngIf="Password.errors?.required">Password is required</span>
    <span *ngIf="Password.errors?.minlength"
      >Password needs to be 6 characters</span
    >
  </div>
  <div class="ion-padding">
    <ion-button
      expand="block"
      class="login mt-16"
      type="submit"
      [disabled]="!residentForm.valid"
      >Log in</ion-button
    >
  </div>
</form>
