ion-modal {
    --height: 50%;
    --width: fit-content;
    --min-width: 250px;
    --border-radius: 16px;
    --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  }
  
  ion-modal::part(backdrop) {
    background: rgba(209, 213, 219);
    opacity: 1;
  }
  
  ion-toolbar {
    --background: #2f4cb0;
    --color: white;
  }
  ion-title {
    text-overflow: inherit;
    white-space: normal;
 }


  .select-modal {
    --width: fit-content;
    --min-width: 250px;
    --height: 50% !important;
    height: 50% !important;
    --border-radius: 6px;
    --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
  }

  ion-item{
    ion-label{
      white-space: normal !important;
    }
  }
