<ion-header>
  <ion-toolbar>
    <ion-label class="ion-text-center">{{control.placeholder}}</ion-label>


    <ion-button fill="clear"  slot="end" [disabled]="!selected" (click)="save()">
      <ion-label [ngClass]="themeMode === 'dark'? 'light' : 'dark' ">Save</ion-label>
    </ion-button>

  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-radio-group mode="md" value="control.value">
    <ion-item (click)="selectItem(i)" *ngFor="let i of list">
      <ion-label class="text-nowrap">{{i.label | titlecase}}</ion-label>
      <ion-radio [value]="i.value" slot="end"></ion-radio>
    </ion-item>

  </ion-radio-group>
</ion-content>
