<app-header title="Request"></app-header>

<ion-content fullscreen="true">
  <ion-grid fixed>
    <ion-list *ngIf="request.length > 0">
      <!-- Sliding item with text options on both sides -->
      <ion-item  (click)="gotoDetail(item.id)" *ngFor="let item of request; let i =index" class="ion-no-padding py-12">
        <div class="abbrev" slot="start" [ngStyle]="{background: item.bg}">
          {{item.service.name | abbrev}}
        </div>
        <ion-label>
          <ion-text color="dark">
            <h5>{{item.service.name}}</h5>
          </ion-text>
          <p>Procesing Stage - {{item.approvalLevel | nextApprovalLevel:
            item.service.workFlow[0].WorkFlowApprovalLevel : 'current'}}</p>
        </ion-label>
        <ion-icon [color]="item.status === 'approved' ? 'success' : item.status === 'rejected' ? 'danger' : 'primary'" [name]="item.status === 'approved' ? 'check-circle' : item.status === 'rejected' ? 'x-circle' : 'clock'"> </ion-icon>
        <!-- <ion-badge [color]="i % 2 === 0 ? 'success' : i % 3 === 0 ? 'warning' : 'primary'">
          {{i % 2 === 0 ? 'Approved' : i % 3 === 0 ? 'Pending' : 'Rejected'}}
        </ion-badge> -->
      </ion-item>
    </ion-list>
    <ion-row class="w-100 h-272 pt-128 flex ion-justify-content-center ion-align-items-center" *ngIf="request.length === 0">
       You have not created any request
    </ion-row>
  </ion-grid>
</ion-content>
