<app-header
  [showBack]="true"
  title="{{'privacyPolicy' | translate}}"
></app-header>

<ion-content fullscreen="true" class="ion-padding">
  <div class="container about-content-container">
    <div class="container about-content no-padding">
      <div class="container no-padding">
        <p>
          This Privacy policy between Police Specialized Service Automation
          Project Portal (hereinafter referred to as POSSAP) and you,
          constitutes our commitment to your privacy on our records, portal, and
          social media platforms.
        </p>
        <ol>
          <li>
            <ion-text color="dark">
              <h6>Your Privacy Rights</h6>
            </ion-text>

            <p>
              This Privacy Policy describes your privacy rights regarding our
              collection, use, storage, sharing and protection of your personal
              information. It applies to the POSSAP portal and all database
              applications, services, tools and physical contact with us
              regardless of how you access or use them. If you have created an
              account, password or any other piece of information as part of our
              access security measures, you must treat such information as
              confidential, and you must not disclose it to any third party. We
              reserve the right to disable any user identification email, full
              name, corporate name or password, whether chosen by you or
              allocated by us, at any time, if in our opinion you have failed to
              comply with any of the provisions of these conditions. If you know
              or suspect that anyone other than you know your security/login
              details, you must promptly notify us at
              customersupport@possap.gov.ng or call: 09132879000 You accept this
              Privacy Policy when you give consent upon access to the portal or
              use our services, or functions offered on the portal. This Policy
              governs the use of POSSAP services by users and stakeholders
              unless otherwise agreed through written contract.
            </p>
          </li>
          <li>
            <ion-text color="dark">
              <h6>Your Personal Information</h6>
            </ion-text>
            <p>
              When you use any of POSSAP services, we collect information sent
              to us by your computer, mobile phone or other electronic access
              devices. The automatically collected information includes but not
              limited to- data about the pages you access, computer IP address,
              device ID or unique identifier, device type, geo-location
              information, computer and connection information, mobile network
              information, statistics on page views, traffic to and from the
              sites, referral URL, ad data, standard web log data, still and
              moving images. We also collect the information you provide us
              including but not limited to- information on web form, such as
              full name, email, phone number, corporate/organization you
              represent, address, state and LGA, etc. We may also collect
              information about your transactions, enquiries and your activities
              on our portal. We may also use the information provided by third
              parties like social media sites. Information about you provided by
              other sites are not controlled by POSSAP portal and we are
              therefore not liable for how they use it.
            </p>
          </li>
          <li>
            <ion-text color="dark">
              <h6>What we do with your personal information</h6>
            </ion-text>

            <p>
              The purpose of our collecting your personal information is to give
              you efficient, enjoyable and secure service. We may use your
              information to:
            </p>
            <ul>
              <li>Verify your identity</li>
              <li>Provide POSSAP services and support</li>
              <li>
                Process applications and send notices about your transactions to
                requisite parties
              </li>
              <li>Resolve disputes, collect fees, and troubleshoot problems</li>
              <li>
                Manage risk, or to detect, prevent, and/or remediate fraud or
                other potentially prohibited or illegal activities
              </li>
              <li>
                Detect, prevent or remediate a violation of Laws, Regulations,
                Standards, Guidelines and Frameworks;
              </li>
              <li>
                Improve POSSAP Services and measure the performance of the
                POSSAP portal
              </li>
              <li>
                Track information breach and remediate such identified breaches
              </li>
              <li>
                Manage and protect our information technology and physical
                infrastructure;
              </li>
              <li>
                Contact you at any time through your provided telephone number,
                email address or other contact details;
              </li>
            </ul>
          </li>
          <li>
            <ion-text color="dark">
              <h6>Cookies</h6>
            </ion-text>
            <p>
              Cookies are small files placed on your computer's hard drive that
              enables the website to identify your computer as you view
              different pages. Cookies allow websites and applications to store
              your preferences to present contents, options or functions that
              are specific to you. Like most interactive portals, our portal
              uses cookies to enable the tracking of your activity for the
              duration of a session. The portal uses only encrypted session
              cookies which are erased either after a predefined timeout period
              or once the user logs out of the platform and closes the browser.
              Session cookies do not collect information from the user's
              computer. They will typically store information in the form of a
              session identification that does not personally identify the user.
            </p>
          </li>
          <li>
            <ion-text color="dark">
              <h6>How we protect your personal or corporate information</h6>
            </ion-text>
            <p>
              We store and process your personal or corporate information on our
              computers in Nigeria. Where we need to transfer your data, we will
              seek your consent and ensure there is an adequate data protection
              law. We protect your information using physical, technical, and
              administrative security measures to reduce the risks of loss,
              misuse, unauthorized access, disclosure and alteration. Some of
              the safeguards we use are firewalls and data encryption, physical
              access controls to our data centers, and information access
              authorization controls.
            </p>
          </li>
          <li>
            <ion-text color="dark">
              <h6>How We Share your information</h6>
            </ion-text>
            <p>
              During your interaction with the portal, we may provide other
              agencies, institutions or organs of government, with information
              such as your name, company name, address, or other details you
              provide us for the purpose of performing our statutory mandate to
              you or third parties. We work with third parties, especially
              government agencies to perform POSSAP services and implement its
              mandate. We may also share your personal information in compliance
              with National or international laws; crime prevention and risk
              management agencies and service providers.
            </p>
          </li>
          <li>
            <ion-text color="dark">
              <h6>Security</h6>
            </ion-text>
            <p>
              We will always hold your information securely. To prevent
              unauthorized access to your information, we have implemented
              strong controls and security safeguards at the technical and
              operational levels. This site uses Secure Sockets Layer/Transport
              Layer Security (SSL/TLS) to ensure secure transmission of your
              data. You should see the padlock symbol in your URL address bar
              once you are successfully logged into the platform. The URL
              address will also start with "https://" depicting a secure
              webpage. SSL applies encryption between two points such as your PC
              and the connecting server. Any data transmitted during the session
              will be encrypted before transmission and decrypted at the
              receiving end. This is to ensure that data cannot be read during
              transmission.
            </p>
          </li>
          <li>
            <ion-text color="dark">
              <h6>Data Confidentiality Rights</h6>
            </ion-text>
            <p>
              Your information is regarded as confidential and will not be
              divulged to any third party except under legal and/or regulatory
              conditions. You have the right to request sight of, and copies of
              any/all information we keep on you. If such requests are made in
              compliance with the Freedom of Information Act and other relevant
              enactments. While we are responsible for safeguarding the
              information entrusted to us, your role in fulfilling
              confidentiality duties includes, but is not limited to, adopting
              and enforcing appropriate security measures such as non-sharing of
              passwords and other portal login details.
            </p>
          </li>
          <li>
            <ion-text color="dark">
              <h6>Links to Other Websites</h6>
            </ion-text>
            <p>
              Certain transaction processing channels may require links to other
              websites or Organizations other than ours. Please note that we are
              not responsible and have no control over websites outside our
              domain. We do not monitor or review the content of other party's
              websites which are linked from our portal. We encourage our users
              to be aware of when they leave our site and to read the privacy
              statements of these sites. You should evaluate the security and
              trustworthiness of any other site connected to this site or
              accessed through this site yourself, before disclosing any
              personal information to them. We will not accept any
              responsibility for any loss or damage in whatever manner,
              howsoever caused, resulting from your disclosure to third parties
              of personal information.
            </p>
          </li>
          <li>
            <ion-text color="dark">
              <h6>Governing Law</h6>
            </ion-text>
            <p>
              This Privacy Policy is made under the Nigeria Data Protection
              Regulation (2019) and other relevant Nigerian laws, regulations or
              international conventions applicable to Nigeria. Where any
              provision of this policy is deemed inconsistent with a law,
              regulation or convention, such provision shall be subject to the
              overriding law, regulation or convention.
            </p>
          </li>
          <li>
            <ion-text color="dark">
              <h6>Updates to our privacy policy</h6>
            </ion-text>
            <p>
              From time to time, we may change, amend or review this privacy
              policy to reflect new services or changes in our privacy policy
              and place any updates on this page. All changes made will be
              posted on this page and where changes will materially affect you,
              we will notify you of this change by placing a notice online or
              via mail. If you keep using this service, you consent to all
              amendments of this privacy policy.
            </p>
          </li>
        </ol>
      </div>
    </div>
  </div>
</ion-content>
