ion-toolbar {
  --background: #2f4cb0;
  --color: white;
}
ion-title {
  text-overflow: inherit;
  white-space: normal;
}




.light {
  color: #fff !important;
}
.dark {
  color: #000 !important;
}
