<ion-app [class.dark-theme]="dark">
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content">
      <ion-content>
        <ion-row class="ion-no-padding headBg">
          <ion-col>
            <div class="menu-header-bg"></div>
            <div class="header-content">
              <div class="imgHolder">
                <img src="assets/img/speakers/rabbit.jpg" alt="" srcset="" />
              </div>
              <ion-label>
                <h3>{{ user?.Name || "Anonymous" }}</h3>
                <p>
                  <ion-text>{{ user?.Email || "" }}</ion-text>
                </p>
                <p>
                  <ion-text>{{ user?.PhoneNumber }}</ion-text>
                </p>
              </ion-label>
            </div>
          </ion-col>
        </ion-row>
        <ion-list lines="none">
          <ion-menu-toggle
            autoHide="false"
            *ngFor="let p of appPages; let i = index"
          >
            <ion-item
              class="item"
              [routerLink]="p.url"
              routerLinkActive="selected"
              routerDirection="root"
              detail="false"
            >
              <ion-icon slot="start" [name]="p.icon + '-outline'"></ion-icon>
              <ion-label>
                {{ p.title }}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        <!-- *ngIf="loggedIn" -->
        <ion-list class="border-b list-items" lines="none">
          <ion-list-header>
            <ion-label> Manage </ion-label>
          </ion-list-header>

          <ion-menu-toggle autoHide="false">
            <ion-item
              class="item"
              routerLink="/account"
              routerLinkActive="active"
              routerDirection="root"
              detail="false"
            >
              <ion-icon slot="start" name="person"></ion-icon>
              <ion-label> Profile </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle autoHide="false">
            <ion-item
              class="item"
              routerLink="/support"
              routerLinkActive="active"
              routerDirection="root"
              detail="false"
            >
              <ion-icon slot="start" name="settings-f"></ion-icon>
              <ion-label> Settings </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle autoHide="false">
            <ion-item class="item" button (click)="rate()" detail="false">
              <ion-icon slot="start" name="star"></ion-icon>
              <ion-label> Rate App </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-list class="list-items" lines="none">
          <ion-list-header>
            <ion-label> Support </ion-label>
          </ion-list-header>

          <!-- <ion-menu-toggle autoHide="false">
            <ion-item class="item" routerLink="/login" routerLinkActive="active" routerDirection="root" detail="false">
              <ion-icon slot="start" name="log-in"></ion-icon>
              <ion-label>
                Login
              </ion-label>
            </ion-item>
          </ion-menu-toggle> -->

          <ion-menu-toggle autoHide="false">
            <ion-item
              class="item"
              routerLink="/faq"
              routerLinkActive="active"
              routerDirection="root"
              detail="false"
            >
              <ion-icon slot="start" name="help"></ion-icon>
              <ion-label> FAQs </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle autoHide="false">
            <ion-item
              class="item"
              routerLink="/privacy"
              routerLinkActive="active"
              routerDirection="root"
              detail="false"
            >
              <ion-icon slot="start" name="file-text"></ion-icon>
              <ion-label> Privacy Policy </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-item class="item">
            <ion-icon slot="start" name="moon-outline"></ion-icon>
            <ion-label>
              Dark Mode
            </ion-label>
            <ion-toggle (ngModelChange)="toggleDarkTheme(dark)" [(ngModel)]="dark"></ion-toggle>
          </ion-item>
        </ion-list>

        <ion-list lines="none">
          <ion-menu-toggle autoHide="false">
            <ion-item *ngIf="user" class="item" button lines="none" (click)="logout()" routerDirection="root">
              <ion-icon name="log-out-f" slot="start"></ion-icon>
              Logout
            </ion-item>
            <ion-item *ngIf="!user" class="item" button lines="none" (click)="logout()" routerDirection="root">
              <ion-icon name="log-in-f" slot="start"></ion-icon>
              Login
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
