<app-header [isHome]="true" [showProfile]="true" [showSos]="true" title="Home"></app-header>


<ion-content>
<ion-grid>
  <ion-slides pager="false" [options]="slideOpts">
    <ion-slide *ngFor="let speaker of speakers; let i = index">
      <ion-card class="item-card" [ngStyle]="{background: getBg(i)}">
        <div class="card-overlay bg-gradient opacity-60"></div>
        <ion-card-header>
          <ion-item detail="false" lines="none" class="speaker-item"
            routerLink="/app/tabs/speakers/speaker-details/{{speaker.id}}">
            <ion-label>
              <ion-badge color="warning" slot="start">POSSAP</ion-badge>

            </ion-label>
          </ion-item>
        </ion-card-header>

        <ion-card-content class="pt-64 zIndex">

          <span class="ion-text-wrap slide-details">
            You can pay for services such as Special protection services, Guards service, Police extracts etc.
          </span>

        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
  <ion-row>
    <ion-col size="12">
      <ion-card class="search-card mt-0">
        <ion-avatar class="pos-absolute">
          <ion-icon color="light"  name="file-plus"></ion-icon>
        </ion-avatar>
        <ion-card-header class="pb-0 pl-20">
          <ion-item detail="false" lines="none" class="speaker-item">
            <ion-card-title>
                <ion-label class="serviceTitle">
                Application Status
              
              </ion-label>
              </ion-card-title>
             
              </ion-item>
              <ion-card-subtitle>
                <ion-label>
                  search & find your application status
                </ion-label>
              </ion-card-subtitle>
        </ion-card-header>

        <ion-card-content class="pl-2 pr-16">
          <ion-row>
            <ion-col size="12">
              <!-- <ion-searchbar searchIcon="none" mode="ios" [(ngModel)]="searchTerm"></ion-searchbar> -->
              <ion-searchbar (ionFocus)="presentModal()"  placeholder="File number" ></ion-searchbar>
            </ion-col>
            <ion-col size="1">

              <!-- <ion-button (click)="submit()" class="ion-text-capitalize searchBtn">
                <ion-icon name="search-f"></ion-icon>
              </ion-button> -->


            </ion-col>
            <ion-col></ion-col>

          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
   <app-most-used></app-most-used>
    <app-report-incidence></app-report-incidence>
    <app-my-map></app-my-map>
    <bank3d-payment-angular
                [reference]= "reference"
                [merchantKey]="merchantKey"
                currencyCode="NGN"
                [amount]="amount"
                email="test@gmail.com"
                phone="0801234567889"
                mode="test"
                text="Make Payments"
                color="#2F4CB0"
                className="card highlight-card card-small"
                (callback)="paymentCallback($event)"
                (onClose)="closedPaymentModal()" >
            </bank3d-payment-angular>
</ion-grid>
</ion-content>
