.item-card {
    background-size: cover !important;
    background-position: 0 0 !important;
    height: 200px;
    color: #fff;
    border-radius: 24px;
  }
  .opacity-60 {
    opacity: 0.3 !important;
  }
  .bg-gradient {
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 20%,
      rgba(0, 0, 0, 0.1) 30%,
      rgba(0, 0, 0, 0.8) 70%,
      black 100%
    ) !important;
  }
  .card-overlay {
    width: 100%;
    height: 200px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 10;
  }
  .card-style .card-overlay {
    border-radius: 20px;
  }
  ion-item,
  ion-list {
    --background: none;
    background: none;
    color: #fff;
  }
  
  
  .search-card {
      border-radius: 24px;
    ion-icon,
    h3 {
      color: #000;
    }
    span {
      color: initial;
      font-size: 12px;
    }
  }
  .searchBtn {
    height: 36px;
    margin-top: 12px;
    ion-icon {
      color: #fff;
    }
  }
  .slide-details{
      color: #fff !important;
      text-align: left;
      font-size: 10px;
  }
  .zIndex{
      z-index: 10;
  
  }
  .serviceTitle{
    font-size: 18px;
    padding-bottom: 10px;
}
.pos-absolute{
  position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30;
    height: 30px;
    background: var(--ion-color-primary);
    color: #fff;
    border-radius: 0px 0px 5px 0px;;
    display: flex;
    justify-content: center;
    align-items: center;
}

ion-searchbar{
  --border-radius: 20px;
  --padding-left: 28px;
  // --background: #fff
}
.logo{
  width: 40px;
}
