<ion-row>
  <ion-col size="12">
    <ion-card class="search-card mt-0">
      
      <ion-card-header>
        <ion-card-subtitle>Most Used</ion-card-subtitle>
        <ion-card-title>
          <ion-label class="serviceTitle">POSSAP Services</ion-label>
          <ion-label routerLink="/app/tabs/services" color="primary">See All</ion-label>
        </ion-card-title>
      </ion-card-header>
      <!-- <ion-item-divider class="h-0" mode="md">
    </ion-item-divider> -->

      <ion-card-content class="pl-2 pr-16">
        <ion-list>
          <ion-item [lines]="i === 1 ? 'none' : ''" (click)="navigate(service.Id, service, 'restful')" *ngFor="let service of services; let i = index">
            <div slot="start">
              <div class="abbrev" slot="start" >
                {{service.slug}}
              </div>
              <!-- <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw=="> -->
            </div>
            <ion-label class="ion-text-wrap">
              <ion-text>
                <h5>{{service.title}}</h5>
              </ion-text>
              <p>{{service.subtitle}}</p>

            </ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </ion-col>
</ion-row>
