ion-card{
    border-radius: 24px;

    h5{
        font-weight: 700;
    }
}
ion-card-title{
    display: flex;
    justify-content: space-between;
    font-size: 16px;

    .serviceTitle{
        font-size: 18px;
    }
}
.abbrev{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: #000;
}
