<app-header [showBack]="true" [title]="title"></app-header>

<ion-content>
  <div class="content" *ngIf="isSuccess; else payment">
    <div class="icon-box">
      <ion-icon color="primary" name="checkmark-circle-outline"></ion-icon>
    </div>
    <div class="sucess-message">
      <h5>Payment Successful</h5>
      <P>Find below your payment reference. Please copy and store it somewhere</P>
      <p>Transaction Number: {{reference}}</p>
    </div>
    <div>
      <p>Amount Paid <span class="text-em">{{details.AmountDue | currency:'NGN'}}</span></p>
    </div>
    <ion-button color="primary" expand="block" routerLink="/app/tabs/home">Back to home</ion-button>
  </div>
  <ng-template #payment>
    <ion-card>

      <ion-grid class="m-5">
        <ion-row>
          <ion-col>Name</ion-col>
          <ion-col>{{owner?.Name}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>Invoice Amount Due</ion-col>
          <ion-col>
            <div class="mb-14">
              <ion-label>₦{{invoice?.AmountDue || 0}}.00 </ion-label>
            </div>

          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">Invoice Description</ion-col>
          <ion-col size="6">
            <ion-label>
              {{invoice?.InvoiceDescription}}
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
    <ion-card color="primary">
      <ion-card-header class="bottom-border">
        <ion-card-subtitle>Summary</ion-card-subtitle>

      </ion-card-header>
      <ion-card-content>
        Amount Due
        <ion-card-title>{{invoice?.AmountDue || 0}}.00 </ion-card-title>
      </ion-card-content>
      <ion-row>
        <ion-col class="px-16 mb-8">

          <bank3d-payment-angular [reference]="reference" [merchantKey]="merchantKey" currencyCode="NGN"
            [amount]="amount" [email]="invoice.Email" phone="invoice.PhoneNumber" mode="live" text="Pay Online" color="#2f4cb0"
            [style]="{'background-color':'white', 'color': '#000', 'width': '100%', 'padding': '10px'}"
            (callback)="paymentCallback($event)" (onClose)="closedPaymentModal()">
          </bank3d-payment-angular>
        </ion-col>

      </ion-row>
      <!-- <ion-button expand="block" color="light" class="m-16" (click)="setSuccess(true)">Pay Online</ion-button> -->
    </ion-card>
    <ion-row>
    </ion-row>

    <ion-card>
      <ion-card-header>
        <h3>Other Payment Methods</h3>
      </ion-card-header>
      <ion-accordion-group #accordionGroup>
        <ion-accordion value="first" toggleIcon="smartphone">
          <ion-item slot="header" color="light">
            <ion-label>Bank Transfer</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <p class="text-weight-bold color-dark">Follow the steps below to make payments on your mobile banking
              platforms:</p>
            <ul class=" text-small color-dark p-16">
              <li class="mb-8">Login to your bank mobile application and select transfer to bank</li>
              <li class="mb-8">Select Parkway Readycash as the receiving bank and input your invoice number e.g
                1000177970
                as the receiving bank account number.</li>
              <li class="mb-8">Enter the exact amount to pay in the “Amount to transfer” field i.e
                ₦{{invoice?.AmountDue || 0}}.00 and proceed.</li>
            </ul>
          </div>
        </ion-accordion>
        <ion-accordion value="second" toggleIcon="archive">
          <ion-item slot="header" color="light">
            <ion-label>POS, ATM, BANK BRANCH</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <p class="text-weight-bold color-dark">Follow the steps below to make payment at any bank branch:</p>
            <ul class=" text-small color-dark p-16">

              <li>Go to any bank branch and give the teller your invoice number.</li>
              <li>Ask the teller to select Bank3D or Ebills- Pay to post payment. You will be issued a receipt and the
                payment will be uploaded on the POSSAP portal immediately.</li>
            </ul>
          </div>
        </ion-accordion>
      </ion-accordion-group>
    </ion-card>
  </ng-template>
</ion-content>
