/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "./theme/theme";
/*
 * App CSS
 * ----------------------------------------------------------------------------
 * Imports a file that can contain Sass/CSS that should be used throughout
 * the entire app.
 */

@import "./app/app.scss";

@import "swiper/scss";
@import "@ionic/angular/css/ionic-swiper";

// placed here instead of tutorial.scss due to slide els not getting ng scoping attribute
.swiper-slide {
  display: block;
}
ion-input {
  --placeholder-font-style: "Roboto", sans-serif;
  --placeholder-opacity: 0.4;
}

.errors {
  font-size: 12px;
  color: var(--ion-color-danger) !important;
  padding-left: 18px;
}
ion-item.forms {
  --min-height: 16px;
  position: relative;
  --padding-start: 0;
  --inner-padding-end: 0;
  &:last-of-type {
    --inner-padding-bottom: 11px;
  }
  &.no-items {
    --inner-padding-top: 44px;
    --inner-padding-bottom: 28px;
  }
}

.select-modal {
  --width: fit-content;
  --min-width: 80%;
  --height: 50% !important;
  --border-radius: 16px;
  // --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
}
.password-modal {
  --width: fit-content;
  --min-width: 90%;
  --max-width: 90%;
  --height: 50% !important;
  --border-radius: 16px;
}
.terms-modal {
  --width: fit-content;
  --min-width: 90%;
  --height: 60% !important;
  --border-radius: 16px;
  // --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
}
.searchbar-search-icon.sc-ion-searchbar-ios {

  left: 10px;

}

.searchbar-left-aligned.sc-ion-searchbar-ios-h .searchbar-input.sc-ion-searchbar-ios {
  padding-left: 40px;
}

